/*
 * Edit the file and create your own awesome color variations!
 */

 
/* First color */

.icon-dark:hover {
	color: #01bf9d!important;
}

.email-tooltips,
#subscribe-form input[type="text"],
#subscribe-response:hover a,
.tooltips {
	color: #01bf9d;
}

.hr,
#send,
.top {
	background-color: #68ab86;
}


/* Second color */

.bottom {
	background-color:#213435;
}

.icon-dark {
	color:#2c2c35!important;
}

#send:hover {
	color: #2c2c35;
}


/* Third color */

a,
body {
	color: #FFFFFF;
}

.email-tooltips,
.tooltips  {
	background: #FFFFFF;
}

.icon-circle {
	color: #FFFFFF!important;
}
